{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="row">
  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
    <div class="newsletter-form">
      <!-- Newsletter Form -->
      <form id="getVideo" method="post">
        <div class="input-group">
          <input
            type="text"
            class="form-control border-0 shadow-none"
            id="url"
            name="url"
            placeholder="Enter or Paste Video URL"
            required
          />
          <span class="input-group-btn">
            <button
              class="btn btn-secondary"
              type="submit"
              name="YoutubeVideoDownload"
              value="true"
            >
              Download
            </button>
          </span>
        </div>
        <!-- /input-group -->
      </form>
    </div>
    <!-- /.Newsletter Form -->
  </div>
  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
    <img id="thumbnail" src="" alt="" />
    <h5 id="title"></h5>
    <a id="download" href="">Download</a>
  </div>
</div>
{%endblock %}
